.list-item-container {
  display: flex;
  height: 3rem;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
}

.list-item-text {
  max-width: 70%;
}

.list-item-label {
  max-width: 30%;
  text-align-last: end;
}

.list-item-selected {
  background-color: #353535;
  color: #ffffff;
}
